.profile-image {
  display: block;
  width: em(80);
  height: em(80);
  border-radius: 100%;
  border: 5px solid $base__white;
  box-shadow: 0 1px 4px 0px rgba(0,0,0,0.3),
              0 1px 6px 2px rgba(0,0,0,0.1),
              0 1px 8px 4px rgba(0,0,0,0.2);
  transition: all 0.5s ease-in;

  &:hover {
    box-shadow: 0 1px 6px 0px rgba(0,0,0,0.1),
                0 1px 9px 4px rgba(0,0,0,0.1),
                0 1px 12px 8px rgba(0,0,0,0.2);
    background-color: map-get($jeff-sheldon-muted, eastern-blue);
    border: none;
    transform: translateY(-90px) scale(2.1);
  }

  @include media($tablet) {
    &:hover {
      transform-origin: left;
      transform: translate(85px, -125px) scale(1.8);
    }
  }

}
