$modifiers: background goals skills;

.card {
  width: 100%;

  @include media($tablet) {
    width: 50%;
  }
}

@each $modifier in $modifiers {
  @include media($tablet) {
    .card,
    .card--#{$modifier}{
      flex: 0 0 48%;

    }
  }
}
