$big-stone: map-get($nick-west-muted, big-stone);

.logo {
  display: flex;
  // justify-content: center;
  align-items: flex-end;
  position: relative;
  width: 60px;
  height: 60px;

  margin: 0;
  padding: $base__spacing / 2;
  color: $base__white;

  &::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 50px;
    height: 50px;
    border: $base__border--inverted;
  }


  &:hover {
    color: $base__white;
    background-color: lighten($big-stone, 12%);
  }

  span {
    display: block;
    font-size: em(24);
    font-family: $base__heading;
    line-height: 1;
    letter-spacing: 1px;
  }
}
