$big-stone: map-get($nick-west-muted, big-stone);

.main-nav,
.nav,
.nav-item {
  display: flex;
}

.main-nav {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: em(60);
  background-color: fade_out($big-stone, 0.2);

  @include media($tablet) {
    justify-content: space-between;
  }
}

.nav {
  flex: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: flex-end;

  @include media($tablet) {
    padding: 0 $large__spacing 0 0;
  }
}

.nav-item {
  position: relative;
  align-items: flex-end;
  justify-content: flex-end;
  height: 60px;
  color: $base__white;
  text-transform: uppercase;
  text-align: right;
  font-size: em(22);
  padding: 0 $base__spacing;
  margin-left: $large__spacing;
  border-bottom: 2px solid transparent;

  &:hover, &.active {
    color: $base__white;
    border-bottom: 2px solid $base__white;
  }
}
