$smalt-blue: map-get($nick-west-muted, smalt-blue);
$gradient-start: $smalt-blue 40%;
$gradient-end: transparent;

// display: flex


.section-content {
  position: relative;
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  width: 100%;
  padding: $large__spacing $base__spacing;

  h1 {
    text-align: center;
    margin-bottom: $large__spacing;
  }

  @include media($tablet) {
    flex-direction: row;
    padding-left: $large__spacing * 2;
    padding-right: $large__spacing * 2;
  }
}

.background {
  background-color: $smalt-blue;

  &, blockquote, .title, .subheading {
    color: $base__white;
    border-color: $base__white;
  }

  @include media($tablet) {
    background-image:
      linear-gradient(90deg, $gradient-start, $gradient-end),
      url("../images/Jonas_Lavoie-Levesque.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.goals {
  flex-direction: column-reverse;

  @include media($tablet) {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-right: $large__spacing * 2;
    padding-left: $large__spacing * 2;
  }
}

/*****
/ !!!!!
/ Safari seems to display some weird behaviour when it comes to 'flex-direction: column'.
/ It doesn't resepect the 'min-height' declaration. Instead, Safari applies it as a regular 'height'
/ property.
/ !!!!!
*****/

.jim-speaking, .picksum {
  flex-direction: row;
  justify-content: center;

}

.picksum {
  background-color: rgb(204, 72, 57);
  justify-content: center;
}

.picksum-logo {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 120px;
  text-align: center;
  vertical-align: middle;
  // padding: $large__spacing;

  img {
    width: 50%;
  }

  // @include media($tablet) {
  //   width: 50%;
  //   margin: 0 auto;
  // }
}
